.btns{
  left: 110px;

}
.div-1 {
  width: 256px;
  height: 320px;
  right: 195px;


}

.div-1 img {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;

}

.div-2 {
  width: 256px;
  height: 320px;
  right: 215px;
}

.div-3 {
  width: 127px;
  height: 154px;
  right: 375px;
  bottom: 20px;


}

.div-3 img {
  width: 100%;
  height: 100%;
}

// tryinggggg
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 40px;
  gap: 20px;
}

.flex-item {
  width: calc(20% - 10px);
  margin-bottom: 20px;
  // background-color: #ddd; 
  box-sizing: border-box;
  padding: 10px;
  // border: 1px solid red;
  border-radius: 5px;
}

.hero-section {
  width: 340px;
  height: 392px;

  margin-left: 45px;

}

.hero-section img {
  width: 100%;
  height: 100%;

}

.hero-sm {
  width: 127px;
  height: 154px;
  bottom: 55px;
  left: 320px;
}
// .testimonial-img-1{
//   border: 1px solid gray;
//   height: 320px;
//   width: 250px;
//   border-radius: 10px;
// }
.testimonial-img-1 img{
  // border: 1px solid gray;
  height: 320px;
  width: 250px;
}

.img-2{
  height: 180px;
  width: 110px;
  bottom: 10px;
}
